body {
    background-color: rgb(27, 28, 28);
    color: white;
    font-family: "Montserrat", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    /* Adjust the height as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #842036;
    padding: 0.50rem 1.25rem;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}